In [135]:
from splinter import Browser
from bs4 import BeautifulSoup as bs
import pandas as pd
from webdriver_manager.chrome import ChromeDriverManager
import requests
import pprint

In [36]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 94.0.4606
Get LATEST driver version for 94.0.4606
Driver [C:\Users\13174\.wdm\drivers\chromedriver\win32\94.0.4606.61\chromedriver.exe] found in cache

In [37]:
url = 'https://www.pgatour.com/stats.html'
browser.visit(url)

In [42]:
html = browser.html
bsoup = bs(html,"html.parser")

In [26]:
#browser.click_link_by_href 
#url = 'https://www.pgatour.com/stats/stat.02671.html'

In [25]:
# facts_table = pd.read_html(url)
# #print(facts_table)
# facts_df = facts_table[1]
# facts_df.columns = ["RANK LAST WEEK", "RANK LAST WEEK","PLAYER NAME", "EVENTS", "POINTS", "# OF WINS", "# OF TOP-10s", "POINTS BEHIND LEAD", "RESET POINTS"]
# facts_df

,RANK LAST WEEK,RANK LAST WEEK,PLAYER NAME,EVENTS,POINTS,# OF WINS,# OF TOP-10s,POINTS BEHIND LEAD,RESET POINTS
0,T1,1,Max Homa,1,500,1,1.0,0,NaN
1,T1,NaN,Sam Burns,1,500,1,1.0,0,NaN
2,3,2,Maverick McNealy,1,300,0,1.0,200,NaN
3,4,T29,Nick Watney,2,269,0,1.0,231,NaN
4,5,NaN,Cameron Young,2,245,0,1.0,255,NaN
...,...,...,...,...,...,...,...,...,...
103,T104,T63,Austin Smotherman,1,4,0,NaN,496,NaN
104,T104,T63,Michael Gligic,2,4,0,NaN,496,NaN
105,T104,T63,Lanto Griffin,2,4,0,NaN,496,NaN
106,107,NaN,J.J. Spaun,2,3,0,NaN,497,NaN
107,108,T66,David Skinns,2,3,0,NaN,497,NaN

In [123]:
results = bsoup.find_all("div", class_="module-statistics-overview-table clearfix")
table_urls = []
for div in results:
    link = div.find('div', class_= "clearfix")
    href = link.find('a')['href']
#print(href)
    table_url = 'https://www.pgatour.com' + href
    table_urls.append(table_url)

In [124]:
table_urls

['https://www.pgatour.com/stats/stat.02671.html',
 'https://www.pgatour.com/stats/stat.138.html',
 'https://www.pgatour.com/stats/stat.120.html',
 'https://www.pgatour.com/stats/stat.101.html',
 'https://www.pgatour.com/stats/stat.102.html',
 'https://www.pgatour.com/stats/stat.103.html',
 'https://www.pgatour.com/stats/stat.02674.html',
 'https://www.pgatour.com/stats/stat.02675.html',
 'https://www.pgatour.com/stats/stat.02564.html',
 'https://www.pgatour.com/stats/stat.130.html']

In [173]:
tables = []
for urltb in table_urls:
    r = requests.get(urltb)
    #print(r)
    soup = bs(r.content)
#print(soup)
    facts_table = pd.read_html(urltb)
#print(facts_table)
    facts_df = facts_table[1]
    tables.append(facts_df)

In [177]:
len(tables)

10

In [178]:
tables[0]

,RANKÂ THIS WEEK,RANK LAST WEEK,PLAYER NAME,EVENTS,POINTS,# OF WINS,# OF TOP-10S,POINTS BEHIND LEAD,RESET POINTS
0,T1,1,Max Homa,1,500,1,1.0,0,NaN
1,T1,NaN,Sam Burns,1,500,1,1.0,0,NaN
2,3,2,Maverick McNealy,1,300,0,1.0,200,NaN
3,4,T29,Nick Watney,2,269,0,1.0,231,NaN
4,5,NaN,Cameron Young,2,245,0,1.0,255,NaN
...,...,...,...,...,...,...,...,...,...
103,T104,T63,Austin Smotherman,1,4,0,NaN,496,NaN
104,T104,T63,Michael Gligic,2,4,0,NaN,496,NaN
105,T104,T63,Lanto Griffin,2,4,0,NaN,496,NaN
106,107,NaN,J.J. Spaun,2,3,0,NaN,497,NaN
107,108,T66,David Skinns,2,3,0,NaN,497,NaN